*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header{
    background-color: #fff;
}
.header .row{
    margin-top: 70px;
}

/*-----Sign Up-----*/
#login-page {
    display: flex;
    max-width: 1200px;
    width: 90%;
    background: #FFD6D6;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.image-section {
    flex: 1;
    background-color: #fcd6d8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
}

.form-section {
    flex: 1;
    background: white;
    padding: 40px 30px;
}

.form-container {
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.tab-titles {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

}

.tab-link {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.tab-link:active {
    color: #ff004f;
    border-bottom: 3px solid #ff004f;
}

.form-content {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.form-content.active {
    display: flex;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #ff004f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e60046;
}

/*----------footer---------*/
#footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    margin-bottom: 20px;
    min-width: 250px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 100%;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/*--- Media Queries ---*/
@media only screen and (max-width:800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: transparent;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    } 
    nav ul li a{
        color: #000;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    .image-section img {
        display: block;
    }
}
/*--- Media Queries For Lesser Screen---*/
@media only screen and (max-width:500px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    } 
    .image-section {
        display: none;
    }
}